.dialog a {
    font-size: 24px;
    margin-left: 50px;
    font-weight: 500;
    text-decoration: none;
    color: white;

    display: flex;
    align-items: center;
    gap: 30px;
}
.dialog.active a{
    color: darkcyan;
    font-size: 28px;  
    margin-left: 80px;  
}
.dialog a img {
    width: 60px;
    border-radius: 50%;
}
.dialog a:hover {
    color: rgb(80, 80, 188);
    transition: color 0.3s ease
}