.error textarea,
.error input {
    border: solid 3px red;
}

.error span {
    color: red;
    font-weight: bold;
    font-size: 22px;
}

.formSummaryError {
    border: solid 2px red;
    font-size: 22px;
    color: red;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
