.userPhoto img{
    width: 200px;
}

* {
    margin: 0;
}

.wrapper {
    color: rgb(255, 255, 255);
}

.active {
    font-weight: bold;
    color: lightblue;
}

.pagination span {
    font-size:22px;
}