
.message {
    padding: 30px;
    border-radius: 35px;
    border-bottom-right-radius: 0px;
    background-color: gray;
    font-size: 18px;
    font-weight: bold;
}

.messageBlock {
    width: 100%;
    display: flex;
}