.content__profile {
    padding:0 30px;
}

.content__backgroundPhoto img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.profileImg img {
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profileContacts {
    display: flex;
    flex-direction: column;
}
.profileContacts a {
    color: #fff;
    text-decoration: none;
}
.profileContacts a:hover {
    text-decoration: underline;
}

.profileStatus {
    display: flex;
    gap: 5px;
}

.profileContacts {
    padding: 10px 5px 25px 0px;
}
.contactItems {
    padding: 5px 0 5px 15px;
}

.contactsItem {
    padding: 5px 0 5px 10px;
}

.contactItem {
    padding: 2px 0;
}
.contactItem a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.contactItem a:hover {
    color: #ffffff;
    text-decoration: none;
}