li {
  list-style-type: none;
}

.app-wrapper {
  width: 1430px;
  padding: 15px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "header header header header"
  "nav content content content";
  grid-template-rows: 60px, 1fr;
  grid-template-columns: 2fr, 10fr;
}