li {
  list-style-type: none;
}

.app-wrapper {
  width: 1430px;
  padding: 15px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav content content ";
  grid-template-rows: 90px 1fr;
  grid-template-columns: 3fr 10fr;
}

.app-wrapper-content {
  background-color: indigo;
  grid-area: content;
}